.error {
    padding: 8px;
    border-radius: 4px;
    background-color: pink;
  }

  input {
    display: block;
    width: 300px;
    padding: 8px;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    border: 2px solid black;
    margin-bottom: 16px;
  }
  